{
   "net_name":"overfit",
   "paths":{
      "data_dir":"./data/",
      "preprocess_dir":"./data/preprocessed",
      "processed_dir":"./data/processed",
      "log_dir":"./logs/",
      "TFHUB_CACHE_DIR": "../tfhub/"
   },
   "inputs":{
      "share":{
         "raw_corpus":"./data/raw/raw_wiki_10k.txt",
         "custom_corpus":"./data/raw/raw_wiki_100.txt",
         "train_test_split":"0.8,0.1,0.1"
      },
      "train":{
         "save_weights_iter":100,
         "batch_size":64,
         "steps_per_epoch":50,
         "epochs":5,
         "verbose":1
      }
   },
   "model":{
      "type":"DSSM_UE"
   }
}
