{
   "global":{
      "data_dir":"./data/",
      "preprocess_dir":"./data/preprocessed",
      "processed_dir":"./data/processed",
      "weights_file":"../data/processed/backend.h5",
      "params_file":"../data/processed/params.dill",
      "train_test_split":"0.8,0.1,0.1",
      "log_dir":"./logs/"
   },
   "inputs":{
      "share":{
         "raw_corpus":"./data/raw/raw_data.txt",
         "documents_filename":"documents.dill",
         "questions_filename":"questions.dill"
      },
      "train":{
         "phase":"TRAIN",
         "batch_size":100,
         "steps_per_epoch":200,
         "epochs":3,
         "datapack_filename":"train.dill"
      },
      "valid":{
         "phase":"EVAL",
         "batch_list":10,
         "datapack_filename":"valid.dill"
      },
      "test":{
         "phase":"EVAL",
         "batch_list":10,
         "datapack_filename":"test.dill"
      },
      "predict":{
         "phase":"PREDICT"
      }
   },
   "outputs":{
      "predict":{
         "save_path":"predict.txt"
      }
   },
   "model":{
      "type":"DSSM",
      "setting":{
         "hidden_sizes":[
            300
         ],
         "dropout_rate":0.9
      }
   }
}
